# task 1: Pandas Operations--

###  dataset and operation

In [1]:
import pandas as pd
pd

In [2]:
Marksheet={'Roll No.':[1,2,3,4,5],'S_Name':['Rahul','Nakul','Rishi','Abhi','Raj']}

In [3]:
Marksheet

{'Roll No.': [1, 2, 3, 4, 5],
 'S_Name': ['Rahul', 'Nakul', 'Rishi', 'Abhi', 'Raj']}

In [4]:
Data= pd.DataFrame(Marksheet)
Data

   Roll No. S_Name
0         1  Rahul
1         2  Nakul
2         3  Rishi
3         4   Abhi
4         5    Raj